@using Microsoft.AspNetCore.Identity
@using AvcolCanteen.Areas.Identity.Data

@inject SignInManager<AvcolCanteenUser> SignInManager
@inject UserManager<AvcolCanteenUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <!-- If the user is signed in, show 'Account' and 'Logout' options -->
        <li class="LogRegButton">
            <a id="manage" class="nav-link" style="color: #107ac7; word-wrap: break-word " asp-area="Identity" asp-page="/Account/Manage/Index">Account</a>
        </li>
        <li class="LogRegButton">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <a id="logout" href="javascript:void(0)" onclick="document.getElementById('logoutForm').submit()" style="color: #107ac7" class="nav-link">Logout</a>
            </form>
        </li>

    }
    else
    {
                <!-- If the user is not signed in, show 'Register' and 'Login' options -->
        <li class="LogRegButton">
            <a class="nav-link" style="color: #107ac7" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="LogRegButton">
            <a class="nav-link" style="color:#107ac7" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
