@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center" style="padding-top:5px;">


    <div id="carousel" class="carousel slide mx-auto" data-bs-ride="carousel" style="max-width: 1500px;-moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;">

        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="2"></button>
        </div>


        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Images/Artboard 1 new.png" alt="Food" class="d-block mx-auto" style="max-width: 100%; height: auto;  -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;">
            </div>
            <div class="carousel-item">
                <img src="~/Images/Artboard 2 new.png" alt="Food2" class="d-block mx-auto" style="max-width: 100%; height: auto; -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;">
            </div>
            <div class="carousel-item">
                <img src="~/Images/Artboard 3 new.png" alt="Food3" class="d-block mx-auto" style="max-width: 100%; height: auto; -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;">
            </div>
        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>
<div class="containerHome">
    <div class="MenuButton">
        <a href="@Url.Action("Menu", "ProductsUser")">
            <img class="glow" src="~/Images/menu.jpg" alt="MenuImage">
        </a>
    </div>
    <div class="Search">
        <h2 style="font-size:30px; margin-left:55px;">View our Menu or search</h2>
    </div>
    <form asp-controller="ProductsUser" asp-action="Menu" method="get">
        <div class="searchcontainer">
            <input type="search" name="searchString" placeholder="Search ..." value="@ViewData["CurrentFilter"]" />
            <div class="search"></div>
        </div>
    </form>
</div>

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class-"row">
        <div class="form-group col-md-4">
            <input type="email" class="form-control" name="toEmail" />
        </div>
        <div class="form-group col-md-2">
            <input type="file" class="form-control" name="fileToAttach" />
        </div>
        <div class="form-group col-md-6">
            <input type="submit" value="Send Email" class="btn btn-success" />
        </div>

    </div>
}
@if (ViewBag.emailsentmessage != null)
{
    <div class="bg-success">
        <label>@ViewBag.emailsentmessage</label>
    </div>
}