
@{
    ViewData["Title"] = "Menu";
}
<h1 class="head">Menu</h1>
<div class="grid-container">
    <div>
        <h2 style="text-align:center">Product Card</h2>

        <div class="card">
            <img src="~/Images/Artboard 1.png" alt="Food" style="width:100%">
            <h1>Noodles</h1>
            <p class="price">$5.00</p>
            <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
            <p><button>Add to Cart</button></p>
        </div>
    </div>
    <div>
        <h2 style="text-align:center">Product Card</h2>

        <div class="card">
            <img src="~/Images/Artboard 1.png" alt="Food" style="width:100%">
            <h1>Noodles</h1>
            <p class="price">$5.00</p>
            <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
            <p><button>Add to Cart</button></p>
        </div>
    </div>
    <div>
        <h2 style="text-align:center">Product Card</h2>

        <div class="card">
            <img src="~/Images/Artboard 1.png" alt="Food" style="width:100%">
            <h1>Noodles</h1>
            <p class="price">$5.00</p>
            <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
            <p><button>Add to Cart</button></p>
        </div>
    </div>
    <div>
        <h2 style="text-align:center">Product Card</h2>

        <div class="card">
            <img src="~/Images/Artboard 1.png" alt="Food" style="width:100%">
            <h1>Noodles</h1>
            <p class="price">$5.00</p>
            <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
            <p><button>Add to Cart</button></p>
        </div>
    </div>
</div>