html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 275px;
    margin: auto;
    text-align: center;
    font-family: arial;
    font-size:16px;
}

.price {
    color: grey;
    font-size: 22px;
}

.card p {
    font-size: 14px;
}

.grid-container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;

}

    .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        font-size: 16px;
    }
.heading {
    text-align: center;
    padding:20px;
}
.containerHome {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 20px;
    grid-auto-flow: row;
    align-items: center;
}
.MenuButton {
    grid-area: 1 / 1 / 2 / 2;
    padding-top: 40px;
    padding-bottom:40px;
}

.Search {
    grid-area: 1 / 2 / 2 / 3;
    text-align:center;
}

.SearchFunction {
    grid-area: 1 / 3 / 2 / 4;
}
.menubuttoncss {
    width: 400px;
    margin-left: 12px;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
    .menubuttoncss:hover {
        transform: scale(1.05);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
.glow {
    display: inline-block;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 400px;
    margin-left: 12px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

    .glow:hover {
        box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.6);
        transform: scale(1.05);
    }

.LogRegButton {
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    color: #107ac7;
}
    .LogRegButton:hover {
        color: #1e2125;
        background-color: #e9ecef;
    }
/*.searchcontainer {
    position: relative;
    top: 0px;
    left: 50px;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100px;
}

.search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: crimson;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.search:hover {
    cursor: pointer;
}

.search::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all .5s;
}

.search::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all .5s;
}

inputsearch {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: crimson;
    color: white;
    text-shadow: 0 0 10px crimson;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
}

inputsearch:hover {
    cursor: pointer;
}

    inputsearch:focus {
        width: 300px;
        opacity: 1;
        cursor: text;
    }

        inputsearch:focus ~ .search {
            right: -250px;
            background: #151515;
            z-index: 6;
        }

    inputsearch::placeholder {
        color: white;
        opacity: 0.5;
        font-weight: bolder;
    }
*/