html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 275px;
    margin: auto;
    text-align: center;
    font-family: arial;
    font-size:16px;
}

.price {
    color: grey;
    font-size: 22px;
}

.card p {
    font-size: 14px;
}

.grid-container {
    display: flex;
    gap: 40px;
    /*    padding: 20px;
*/ flex-wrap: wrap;
    justify-content: center; /* Horizontally center the content */
    /*align-items: center;*/ /* Vertically center the content */
}

    .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        font-size: 16px;
    }
.heading {
    text-align: center;
    padding:20px;
}